<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/barra.css">
    <title>Task List</title>
</head>

<body>
<header>
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a th:href="@{/index}" class=".nav-centrado logo-cont"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1676485585/barra/logo_obsidiana_sin_letras_cj9zvx.png" alt="" class="logo"></a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a th:href="@{/index}">Home</a>
                    </li>
                    <li>
                        <a href="#">Servicios</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a th:href="@{/pages/filtrar}">Todos los Productos</a>
                            </li>
                            <li>
                                <a th:href="@{/pages/tuPiedra}">Piedra de Nacimiento</a>
                            </li>
                            <li>
                                <a th:href="@{/pages/aboutus}">Nosotros</a>
                            </li>

                            <li>
                                <a th:href="@{/pages/contacto}">Contacto</a>
                            </li>
                        </ul>
                    </li>
                    <li class="li-encuentra">
                        <div class="parteD nav-centrado">
                            <div class="encuentra">
                                <a th:href="@{/pages/findYourRock}" class="visitado .nav-centrado">¡Encuentra tu piedra!</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a th:href="@{/pages/catalogo}">Catálogo</a>
                    </li>

                    <li class="li-iconos">
                        <div class="parteE nav-centrado">
                            <div class="iconos">
                                <a href="##"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/carrito_wbkn0j.svg" alt="" class="icono iconoA"></a>
                                <a href="#"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/insta_s625xj.svg" alt="" class="icono iconoB"></a>
                                <div class="iconoC iconoCBarra">
                                    <img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/search_vyjo8i.svg" alt="" class=""><input type="text" class="iconoC" size="1">
                                </div>
                                <a th:href="@{/pages/login}"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/login_e3b87g.svg" alt="" class="icono iconoD"></a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a th:href="@{/pages/findYourRock}" class="parteF">¡Encuentra tu piedra!</a>
                    </li>

                    <li>
                        <a th:href="@{/pages/contacto}" class="parteF">Contacto</a>
                    </li>


                </ul>
            </nav>
        </div>
    </section>
</header>
    <br>

    
    <div class="container">
        <h1 class="my-5">New Item</h1>
        <div class="row">
            <div class="col">
                <h2>New Item</h2>
                <form id="newItemForm">
                    <div class="form-group">
                        <label for="newItemNameInput">nombre</label>
                        <input type="text" class="form-control" id="newItemNameInput">
                    </div>
                    <div class="form-group">
                        <label for="newItemImage">imagen</label>
                        <textarea type="text" class="form-control" id="newItemImage"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="newItemDescripcion">descripcion</label>
                        <textarea type="text" class="form-control" id="newItemDescripcion"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="newItemPrecio">precio</label>
                        <textarea type="text" class="form-control" id="newItemPrecio"></textarea>
                    </div>
                 
                    <div class="form-group">
                        <label for="newItemTipoRoca">tipoDeRoca</label>
                        <textarea type="text" class="form-control" id="newItemTipoRoca"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="newItemColor">color</label>
                        <textarea type="text" class="form-control" id="newItemColor"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="newItemEdadMineral">edadDelMineral</label>
                        <textarea type="text" class="form-control" id="newItemEdadMineral"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Add Item</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="my-5">Items List</h1>
        <div id="list-items"></div>
        
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="../js/bar.js"></script>

    <script src="/js/productosApi.js"></script>
    <script src="/js/productoApiMain.js"></script>
</body>

</html>