<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/barra.css">
    <link rel="stylesheet" href="../css/filtrar.css">

    <title>Document</title>
</head>
<body>
<header>
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a th:href="@{/index}" class=".nav-centrado logo-cont"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1676485585/barra/logo_obsidiana_sin_letras_cj9zvx.png" alt="" class="logo"></a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a th:href="@{/index}">Home</a>
                    </li>
                    <li>
                        <a href="#">Servicios</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a th:href="@{/pages/filtrar}">Todos los Productos</a>
                            </li>
                            <li>
                                <a th:href="@{/pages/tuPiedra}">Piedra de Nacimiento</a>
                            </li>
                            <li>
                                <a th:href="@{/pages/aboutus}">Nosotros</a>
                            </li>

                            <li>
                                <a th:href="@{/pages/contacto}">Contacto</a>
                            </li>
                        </ul>
                    </li>
                    <li class="li-encuentra">
                        <div class="parteD nav-centrado">
                            <div class="encuentra">
                                <a th:href="@{/pages/findYourRock}" class="visitado .nav-centrado">¡Encuentra tu piedra!</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a th:href="@{/pages/catalogo}">Catálogo</a>
                    </li>

                    <li class="li-iconos">
                        <div class="parteE nav-centrado">
                            <div class="iconos">
                                <a href="##"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/carrito_wbkn0j.svg" alt="" class="icono iconoA"></a>
                                <a href="#"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/insta_s625xj.svg" alt="" class="icono iconoB"></a>
                                <div class="iconoC iconoCBarra">
                                    <img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/search_vyjo8i.svg" alt="" class=""><input type="text" class="iconoC" size="1">
                                </div>
                                <a th:href="@{/pages/login}"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/login_e3b87g.svg" alt="" class="icono iconoD"></a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a th:href="@{/pages/findYourRock}" class="parteF">¡Encuentra tu piedra!</a>
                    </li>

                    <li>
                        <a th:href="@{/pages/contacto}" class="parteF">Contacto</a>
                    </li>


                </ul>
            </nav>
        </div>
    </section>
</header>
<div class="filtrar-contenedor filtrar-principal">
    <aside  class="filtrar-sidebar"  >
        <form th:action="@{/pages/filtrar}" th:object="${filter}" method="post">
            <h3 class="filtrar-titulo">Filtrar</h3>

            <ul class="">
                <li class="">
                    <h4 class="filtrar-sub">Material</h4>
                    <ul>
                        <li>
                            <div>
                                <input type="checkbox"/>
                                <label>Agata</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="checkbox"/>
                                <label>Amatista</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="checkbox"/>
                                <label>Fluorita</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="checkbox"/>
                                <label>Obsidiana</label>
                            </div>
                        </li>
                    </ul>

                </li>


                <li class="">
                    <h4 class="filtrar-sub">Estado</h4>
                    <ul>
                        <li>
                            <div>
                                <input type="checkbox" th:value="1" th:field="*{valores}"  /><!---->
                                <label>Joyeria</label>

                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="checkbox"/>
                                <label>Crudas</label>

                            </div>
                        </li>
                    </ul>
                </li>

            </ul>

            <div>
                <input type="submit" value="Filtrar">
            </div>
        </form>

    </aside>
        <main class="">
            <h1 class="filtrar-nuestros">Nuestros Productos</h1>

        <div class="grid" >
            <div class="producto" th:each="producto: ${productos}">
                <a href="producto.html">
                    <img th:src="${producto.dire}" class="producto__imagen"  alt="imagen camisa">
                    <div class="producto__informacion">
                        <p class="producto__nombre"  th:text="${producto.name}"></p>
                        <p class="producto__precio" th:text="${producto.cost}"></p>
                    </div>
                </a>
            </div>  <!--.producto-->


            <div class="grafico grafico--camisas"></div>
            <div class="grafico grafico--node"></div>
        </div>
        </main>
       
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="../js/bar.js"></script>
    
</body>
</html>