<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <!-- link css -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/barra.css">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="stylesheet" href="../css/tuPiedra.css">

    <title>Encuentra tu piedra</title>
</head>

<body>
    <!-- nav bar -->
    <header>
        <section class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a th:href="@{/index}" class=".nav-centrado logo-cont"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1676485585/barra/logo_obsidiana_sin_letras_cj9zvx.png" alt="" class="logo"></a>
                </div>
                <nav>
                    <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                    <ul class="nav-list">
                        <li>
                            <a th:href="@{/index}">Home</a>
                        </li>
                        <li>
                            <a href="#">Servicios</a>
                            <ul class="nav-dropdown">
                                <li>
                                    <a th:href="@{/pages/filtrar}">Todos los Productos</a>
                                </li>
                                <li>
                                    <a th:href="@{/pages/tuPiedra}">Piedra de Nacimiento</a>
                                </li>
                                <li>
                                    <a th:href="@{/pages/aboutus}">Nosotros</a>
                                </li>

                                <li>
                                    <a th:href="@{/pages/contacto}">Contacto</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-encuentra">
                            <div class="parteD nav-centrado">
                                <div class="encuentra">
                                    <a th:href="@{/pages/findYourRock}" class="visitado .nav-centrado">¡Encuentra tu piedra!</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a th:href="@{/pages/catalogo}">Catálogo</a>
                        </li>

                        <li class="li-iconos">
                            <div class="parteE nav-centrado">
                                <div class="iconos">
                                    <a href="##"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/carrito_wbkn0j.svg" alt="" class="icono iconoA"></a>
                                    <a href="#"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/insta_s625xj.svg" alt="" class="icono iconoB"></a>
                                    <div class="iconoC iconoCBarra">
                                        <img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/search_vyjo8i.svg" alt="" class=""><input type="text" class="iconoC" size="1">
                                    </div>
                                    <a th:href="@{/pages/login}"><img src="https://res.cloudinary.com/dzham2sp8/image/upload/v1675874139/barra/login_e3b87g.svg" alt="" class="icono iconoD"></a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a th:href="@{/pages/findYourRock}" class="parteF">¡Encuentra tu piedra!</a>
                        </li>

                        <li>
                            <a th:href="@{/pages/contacto}" class="parteF">Contacto</a>
                        </li>


                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <!-- Main -->
    <main>
        <section>
            <form action="">
                <article>
                    <p>Descubre tu piedra de nacimiento</p>
                    <p>¿Cuál es tu color favorito?</p>
                </article>
                <!-- Sección de signos zodiacales -->
                <article>
                    <p>Selecciona el mes de nacimiento, nosotros hacemos el resto</p>
                    <div class="mes-nacimiento">
                        <button class="mes" id="enero" name="subject" type="submit" value="">Enero</button>
                        <button class="mes" id="febrero" name="subject" type="submit" value="">Febrero</button>
                        <button class="mes" id="marzo" name="subject" type="submit" value="">Marzo</button>
                        <button class="mes" id="abril" name="subject" type="submit" value="">Abril</button>
                        <button class="mes" id="mayo" name="subject" type="submit" value="">Mayo</button>
                        <button class="mes" id="junio" name="subject" type="submit" value="">Junio</button>
                        <button class="mes" id="julio" name="subject" type="submit" value="">Julio</button>
                        <button class="mes" id="agosto" name="subject" type="submit" value="">Agosto</button>
                        <button class="mes" id="septiembre" name="subject" type="submit" value="">Septiembre</button>
                        <button class="mes" id="octubre" name="subject" type="submit" value="">Octubre</button>
                        <button class="mes" id="noviembre" name="subject" type="submit" value="">Noviembre</button>
                        <button class="mes" id="diciembre" name="subject" type="submit" value="">Diciembre</button>
                    </div>
                </article>
            </form>
        </section>
        <section>
            <article class="resultado">
                <a href="../images/piedras-mes-nacimiento/cuarzo-blanco.jpg" target="_blank" rel="noopener noreferrer">
                    <img class="tu-piedra" src="../images/piedras-mes-nacimiento/cuarzo-blanco.jpg" alt="cuarzo-blanco">
                </a>
                <div>
                    <p>Cuarzo</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sequi ipsam repellendus?
                        Nesciunt
                        ipsam soluta, error cum facilis quasi sequi, laborum libero quod atque sit voluptate! Optio,
                        voluptatem. Eaque, dolorem.</p>
                </div>
            </article>
        </section>
        <section></section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="../js/bar.js"></script>
</body>

</html>